<html>
<head>
<link rel="stylesheet" type="text/css" href="default.css" />
</head>
<body>

<div id="logout" name="logout" style="float: right">
<form target="/Logout">
Logged in as @(DroshWebContext.LoggedUser.Name)<br />
<input type="submit" value="Logout" />
</form>
</div>
<div style="clear: left"></div>

<h1>Project @(project.Name)</h1>

<div id="notification" name="notification">
<!-- notification area -->
</div>

<!-- Project abstract -->
<div id="project-abstract" name="project-abstract">
<h2>@(project.Name)</h2>

<div id="revision-selector" name="revision-selector">
<p>@(project.Description)</p>

<p>revisions: <select><option value="HEAD">HEAD</option>
@foreach (var revision in project.Revisions) {
  <option value="@(revision.Id)">@(revision.Id)</option>
}
</select></p>
</div>

<h2>Details</h2>

<table>
  <tr>
    <td>Dependencies: </td><td>@(String.Join (", ", (from dep in project.Dependencies select dep.Name).ToArray ()))</td>
  </tr><tr>
    <td>Owner: </td><td>@(project.Owner)</td>
  </tr><tr>
    <td>Builder Users: </td><td>@(String.Join (", ", (from c in project.BuildUsers select c.Name).ToArray ()))</td>
  </tr><tr>
    <td>Target NDK: </td><td>@(project.TargetNDKs)</td>
  </tr><tr>
    <td>Target Arch: </td><td>@(project.TargetArchs)</td>
  </tr><tr>
    <td>Download</td><td><a href="/download/@(project.ResultArchiveName)">@(project.ResultArchiveName)</a></td>
  </tr><tr>
    <td>Project WebSite</td><td><a href="@(project.ProjectHomeUrl)">@(project.ProjectHomeUrl)</a></td>
  </tr><tr>
    <td>Build Type: </td><td>@(project.BuildType)</td>
  </tr><tr>
    <td>Source: </td><td>@(project.SourceArchiveName)</td>
  </tr><tr>
    <td>Patches: </td><td>
@foreach (var patch in project.Patches) {
  var ident = "@(patch.TargetNDKs)-@(patch.TargetArchs)-@(patch.Step)";
  <div id="patch-@(ident)" name="patch-@(ident)">
    <p>@(ident)<br/><textarea id="patch-text-@(ident)" name="patch-text-@(ident)" rows="4" cols="80">patch.Text</textarea></p>
    </td>
  </tr><tr>
    <td>Build Scripts: </td><td>
@foreach (var script in project.BuildScripts) {
  var ident = "@(script.TargetNDKs)-@(script.TargetArchs)-@(script.Step)";
  <div id="script-@(ident)" name="script-@(ident)">
    <p>@(ident)<br/><textarea id="script-text-@(ident)" name="script-text-@(ident)" rows="4" cols="80">script.Text</textarea></p>
  </div>
}
    </td>
  </tr>
</table>

</div>


<!-- list of builds -->
<div id="recent-builds" name="recent-builds">

<h2>recent builds</h2>

<!-- almost identical to Index.cshtml (contents differ; it is by user list) -->
<table>
@foreach (var build in builds) {
<tr id="build-@(build.Id)" name="build-@(build.Id)">
  <td style="color: @(build.Status == BuildStatus.Failure ? "red" : build.Status == BuildStatus.OK ? "green" : build.Status == BuildStatus.Ongoing ? "yellow" : null)">@(build.Status)</td>
  <td>@(build.StartedTime)</td>
  <td>@(build.Revision)</td>
  <td>@(build.TargetNDK)</td>
  <td>@(build.TargetArch)</td>
  <td>@(build.User.ShortName)</td><!-- TODO: show link? -->
  <td><a href="/build/@(build.Id)"><img alt="Log" src="/icons/log.png" /></a></td>
</tr>
}
</table>

<!-- TODO: page controller links -->

</div>

</body>
</html>
