<html>
<head>
<link rel="stylesheet" type="text/css" href="default.css" />
</head>
<body>
<h1>Drosh: Android Shared Library House</h1>

<div id="logout" name="logout" style="float: right">
<form target="/Logout">
Logged in as @(DroshWebContext.LoggedUser.Name)<br />
<input type="submit" value="Logout" />
</form>
</div>
<div style="clear: left"></div>

<div id="notification" name="notification">
<!-- notification area -->
</div>

<div id="accessible-projects" name="accessible-projects">
<h2>Your Projects</h2>

<table>

@foreach (var project in projectsByUser) {
<tr id="project-@(project.Name)" name="project-@(project.Name)">
  <td><a href="/project/@(project.Name)/Head">@(project.Name)</td>
</tr>
}

</table>


<!-- FIXME: do we need this? -->
<div id="recent-builds" name="recent-builds">
<form>

<!-- list of builds -->

<h2>recent builds</h2>

<table>
@foreach (var build in builds) {
<tr id="build-@(build.id)" name="build-@(build.id)">
  <td style="color: @(build.Status == BuildStatus.Failure ? "red" : build.Status == BuildStatus.OK ? "green" : build.Status == BuildStatus.Ongoing ? "yellow" : null)">@build.Status</td>
  <td>@build.StartedTime</td>
  <td><a href="@(Drosh.PullUrl + @build.Project.Id)">@build.Project.Name</td>
  <td>@build.Revision</td>
  <td>@build.TargetNDK</td>
  <td>@build.TargetArch</td>
  <td>@build.User.ShortName</td><!-- TODO: show link? -->
</tr>
}
</table>

<!-- TODO: page controller links -->

</form>
</div>


</body>
</html>
